<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- Link to main CSS file of webpage -->
        <link rel="stylesheet" href="../Assets/css/main.css" type ="text/css">
        <!-- Link for usage of icons as css from boxicons.com-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- Title of Landing Page-->
        <title>Mwani's Fashion Affair | About</title>

    </head>
    <body>
        <!-- Beginning of a header information-->
        <header class="header">
            <a href="index.html" class="logo"><img class="logo-pic" src="../Assets/images/logo.PNG" alt="logo" style="width: 280px; height: 200px;"></a>
            <nav class="navbar">
                <a href="index.html" class="active">Home</a>
                <a href="price_list.html">Price List</a>
                <a href="gallery.html">Gallery</a>
                <a href="order.html">Order</a>
                <a href="about.html">About</a>
                <a href="contact.html">Contact</a>
            </nav>
        </header>
        <!-- End of Header information -->
        <main>
            <section>
                <div class="price-list-cnt">
                    <h1>Affordable Prices Just For You!</h1>
                </div>
                <div class="snip-container">
                    <div class="snip-price-1">
                        <span class="snip-crop">
                            <img src="../Assets/images/crop-top-1.jpg" alt="yellow crop top" style="width: 350px; height: 300px;" >
                        </span>
                        <div class="snip-crop-1"><h4>YELLOW HONEY CROP TOP</h4>
                               <h5>Sizes: XS, S, M</h5>
                               <h5>Price: <bold>K300.00</bold></h5>
                        </div>
                    </div>
                    <div class="snip-price-1">
                        <span class="snip-crop">
                            <img src="../Assets/images/shorts-1.jpg" alt="yellow crop top" style="width: 350px; height: 300px;" >
                        </span>
                        <div class="snip-crop-2"><h4>WOMEN'S JEAN SHORTS</h4>
                               <h5>Sizes: XS, S, M</h5>
                               <h5>Price: <bold>K210.00</bold></h5>
                        </div>
                    </div>
                    <div class="snip-price-1">
                        <span class="snip-crop">
                            <img src="../Assets/images/skirt-1.jpg" alt="yellow crop top" style="width: 350px; height: 300px;" >
                        </span>
                        <div class="snip-crop-3"><h4>YELLOW SKIRT</h4>
                               <h5>Sizes: XS, S, M, L</h5>
                               <h5>Price: <bold>K300.00</bold></h5>
                        </div>
                    </div>
    
                </div>
            </section>
        </main>
        <!-- Start of footer -->
        <footer>
            <div class="footer">
                <h5><img src="../Assets/images/logo.png" alt="Mwani's Fashion Affair logo" style="width: 150px; height: 150;"></h5>
                <h6>Mwani's Fashion Affair aims to offer quality thrifted clothes at affordable prices with high value fashion sense. Mwani's Fashion Affair is a budding thrift store soon to be a national leader in Zambia.</h6>
                <h6>The content of this site is copyright-protected and is the property of Mwani's Fashion Affair.</h6>
                <p><small class="rights">© 2024 Mwani's Fashion Affair All rights reserved |
                    Privacy Policy and Cookies |
                    Terms and conditions | Developed by Kasonde Besa</small>
                </p>
            </div>
        </footer>
        <!-- End of footer -->        
    </body>

</html>
